h3 img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: 10rem;
    border: 0;
}

.VPButton .medium .brand{
    font-size: 3rem;
    font-weight: 900;
}

